:root {
  --gray: #313131;
  --purple: #5844AF;
  --red: #E05959;
  --black: #222222;
  --light-gray: #777777;

}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

.loader-container {
  margin: 0 auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.16);
  z-index: 2;
}

.loader {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 4px solid var(--gray);
  border-top: 4px solid var(--red);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: var(--purple);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: var(--purple);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 65px;
  background-color: var(--gray);
  z-index: 1;
}

.stars-container,
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  align-items: flex-end !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.h-wrapper {
  width: 80%;
  height: 100%;
  margin: auto;
}

.h-wrapper img {
  height: 30px;
}

.s-wrapper {
  background-color: var(--light-gray);
  width: 55%;
  height: 30px;
  border-radius: 15px;
  padding: 0px 12px;
}

.s-wrapper input{
  height: 30px;
  width: calc(100% - 30px);
  border: unset;
  outline: unset;
  background-color: transparent;
  color: black;
  padding: 0;
}

.s-wrapper input::placeholder {
  color: var(--gray);
}

.s-wrapper div {
  cursor: pointer;
}

.u-wrapper {
  height: 35px;
  width: fit-content;
}

.u-wrapper span {
  color: var(--light-gray);
}

.avatar {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--red);
}


.content {
  width: 60%;
  padding: 20px;
}


:focus {
  outline: none;
}

.far.fa-star {
  color: var(--purple);
}

.fs-wrapper {
  height: 65px;
  justify-content: space-between;
}

.add-btn {
  height: 40px;
  color: white;
  font-weight: bold;
  padding: 0 15px;
  background-color: var(--light-gray);
}

.stars-container {
  width: 180px;
}



.songs-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 20px;
}

.song {
  background-color: var(--gray);
  height: 110px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: inline-flex;
}

.song-image {
  width: 180px;
  height: 100%;
}

.song-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.titles {
  height: 50%;
  justify-content: space-between;
}

.titles *{
  margin: 0;
}

.fa.fa-heart {
  color: var(--red);
}

.fa.fa-heart,
.far.fa-heart {
  font-size: 26px;
  margin-left: 25px;
  margin-top: 4px;
  cursor: pointer;
}

form {
  width: 50%;
  margin: auto;
}

.form-item {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.form-item:first-of-type {
  margin-top: 0;
}

.form-item label {
  font-size: 14px;
  font-weight: bold;
  color: var(--light-gray);
  text-align: left;
  margin-bottom: 5px;
}

.form-item input[type="text"] {
  height: 34px;
  width: calc(100% - 15px);
  padding: 0 5px;
  font-size: 14px;
  background-color: var(--light-gray);
  color: white;
  border-radius: 3px;
}


.form-item input[type="text"]::placeholder {
  color: var(--gray);
}

.form-item input[type="text"]:focus {
  border-color: white;
}


.form-item input[type="submit"]{
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  background-color: var(--purple);
  padding: 0;
  border: unset;
  color: white;
}
.form-item span {
  font-size: 12px;
  color: var(--red);
}

@media screen and (max-width: 960px){
  .h-wrapper{
    width: 98%;
  }
  .welcome {
    display: none;
  }
  .content {
    width: 100%;
    padding: 20px 0px;
  }
  .filter-container {
    margin: 0 20px;
  }
}


@media screen and (max-width: 768px){
  form {
    width: 95%
  }

  .h-wrapper img {
    height: 20px;
  }
  .song {
    height: 100px;
  }

  .song-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 10px;
  }

  .song-image,
  .stars-container {
    width: 150px;
    min-width: 150px;
  }

  small {
    padding-bottom: 4px;
  }

  .raiting-love {
    width: 100%;
    justify-content: space-between;
  }
}